{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h2>
    
    {% if post.collection == 'teaching' %}
      <p>{{ post.type }}, <i>{{ post.venue }}</i></p>

      {% if post.semester %}
        {% assign semester_count = post.semester | size %}
        {% if semester_count > 1 %}
          <p><strong>Semesters taught:</strong> {{ post.semester | join: ", " }}</p>
        {% else %}
          <p><strong>Semester taught:</strong> {{ post.semester | join: ", " }}</p>
        {% endif %}
      {% endif %}
    {% endif %}

    {% comment %}
    Show full content ONLY on the course's individual page.
    {% endcomment %}
    {% if page.url == post.url %}
      {{ post.content | markdownify }}
    {% endif %}

  </article>
</div>
